textbox{
	background-color: aqua;
	color:darkblue;
	resize: true;
}
.veryimportant{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-weight: 800;
	color: crimson;
	text-decoration: underline;
}
