   @media only screen and (min-width: 1025px){
   
       .ui-page {width: 800px !important;
		   margin: 0 auto !important;
		   position: relative !important;
		   border-right: 5px #666 outset !important;
		   border-left: 5px #666 outset !important;
	   }}